@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-regular {
  -fx-font-family: "Lobster", sans-serif;
  -fx-font-weight: 400;
  -fx-font-style: normal;
}

.enlarge {
  -fx-scale-x: 1.2;
  -fx-scale-y: 1.2;
}

.hover:hover {
  -fx-opacity: 0.4;
}