@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.guessButton {
  -fx-background-radius: 20;
  -fx-alignment: center;
  -fx-wrap-text: true;
  -fx-background-color: rgb(255, 255, 255);
  -fx-border-color: black;
  -fx-border-radius: 15;
  -fx-border-width: 5;
  -fx-border-insets: -1;
  -fx-max-width: 100;
  -fx-max-height: 100;
  -fx-font-family: "Lobster", sans-serif;
  -fx-font-weight: 400;
  -fx-font-style: normal;
}

.lobster-regular {
  -fx-font-family: "Lobster", sans-serif;
  -fx-font-weight: 400;
  -fx-font-style: normal;
}

.guessButton:hover {
  -fx-background-color: #ffffffcc;
  -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);


}